---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import PostList from '@/components/PostList.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Layout>
	<Header />
	<main class="mx-auto flex min-h-screen max-w-2xl flex-col gap-20 py-20">
		<section>
			<PostList posts={posts} />
		</section>
	</main>
	<Footer />
</Layout>
