---
const today = new Date();
---

<footer class="footer footer-center p-4 text-base-content max-w-2xl mx-auto border-t">
  <aside>
    <p>Copyright © {today.getFullYear()} - Power by Astro</p>
  </aside>
</footer>
