---
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import { SITE } from "@/consts";

const navLinks = [
  { href: "/blog", text: "blog" },
  { href: "/work", text: "work" },
  { href: "/projects", text: "projects" },
  // { href: "/uses", text: "uses" },
];
---

<header
  class="fixed top-0 left-0 right-0 z-50 py-5 bg-stone-100/75 dark:bg-stone-900/25 backdrop-blur-sm saturate-200"
>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        {
          navLinks.map((link, index) => (
            <>
              {index > 0 && <span>/</span>}
              <Link href={link.href}>{link.text}</Link>
            </>
          ))
        }
      </nav>
    </div>
  </Container>
</header>
