---
interface Props {
  post: {
    data: {
      title: string;
      description: string;
      heroImage?: string;
    };
    slug: string;
  };
}

const { post } = Astro.props;
---

<a class="card sm:card-side hover:bg-base-200 transition-colors sm:max-w-none" href={`/blog/${post.slug}/`}>
  <figure class="mx-auto w-full object-cover p-6 max-sm:pb-0 sm:max-w-[12rem] sm:pe-0">
    <img
      loading="lazy"
      class="border-base-content bg-base-300 rounded-btn border border-opacity-5"
      width={160}
      height={90}
      src={post.data.heroImage || `https://picsum.photos/seed/${post.data.title}/160/90`}
      alt=""
    />
  </figure>
  <div class="card-body">
    <h4 class="card-title">{post.data.title}</h4>
    <p class="text-xs opacity-60">{post.data.description}</p>
  </div>
</a>
