---
import type { CollectionEntry } from 'astro:content'
import PostCard from './PostCard.astro'

type Post = CollectionEntry<'blog'>
interface Props {
	posts: Post[]
}

const { posts } = Astro.props
---

<ul class="not-prose grid justify-items-stretch gap-6">
	{
		posts.map((post) => (
			<li>
				<PostCard {...post} />
			</li>
		))
	}
</ul>
